<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الصفحة الرئيسية</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
            direction: rtl; /* تعيين اتجاه النصوص من اليمين لليسار */
            text-align: center;
        }
        .container {
            max-width: 500px;
        }
        .main-buttons {
            margin-top: 50px;
        }
        .btn-custom {
            font-size: 1.2rem;
            padding: 15px 30px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">الصفحة الرئيسية</h1>
        <div class="main-buttons">
            <a href="/create_receipt" class="btn btn-primary btn-custom">إنشاء فاتوره</a>
            <a href="/saved_receipts" class="btn btn-secondary btn-custom">الفواتير المحفوظة</a>
        </div>
    </div>
</body>
</html>
